@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ff8906;
  --app-bg: #0f0e17
}

body {
  padding-left: 20px;
  padding-right: 20px;
}

main {
  height: 100vh;
}

.scrollbar::-webkit-scrollbar {
  background-color:transparent;
  width:16px
}

/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
  background-color:transparent
}
.scrollbar::-webkit-scrollbar-track:hover {
  background-color:transparent
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
  background-color:var(--primary);
  border-radius:12px;
  border:5px solid var(--app-bg)
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color:var(--primary);
  border:4px solid var(--app-bg)
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {display:none}

.spinner-1 {
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid;
  animation: s1 1s infinite;
}

@keyframes s1 {to{transform: rotate(.5turn)}}

@layer components {
  body {
    @apply bg-app-bg text-main
  }

  .app-text-input {
    @apply pt-4 p-3 rounded-sm border border-primary w-full outline-transparent text-app-bg placeholder:text-gray-300 disabled:text-gray-300 disabled:bg-gray-500;
  }

  .app-text-input:focus,
  .app-text-input:active {
    outline: none !important;
    outline-color: transparent;
    outline-style: none;

    @apply shadow-transparent shadow-none outline-transparent;
  }
  
  .input-label {
    font-size: 10px;
    @apply text-primary;
  }
  
  .label-container {
    @apply flex absolute left-0 pl-3 pt-1 pointer-events-none;
  }
  
  .download-btn {
    background: linear-gradient(90deg, #4f39fa, #da62c4);
  
    @apply mx-auto px-2 py-2 rounded-sm shadow-md flex;
  }

  .download-btn:not(:disabled):hover span {
    @apply hover:text-white hover:bg-transparent;
  }

  .download-btn:disabled {
    background: linear-gradient(90deg, #4f39fa, #da62c4);
    opacity: 0.5;
  }

  .download-btn span {
    @apply font-bold w-full py-2 rounded-sm bg-white text-black ease-out transition-all duration-200;
  }
  
  .app-select-input {
    @apply pt-4 p-3 text-black rounded-sm border border-primary w-full focus:outline-none;
  }
}
